name: Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  flutter_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.1'
          channel: stable
      - name: Pub get
        run: flutter pub get
      - name: Test
        run: flutter test --coverage
      - name: Upload coverage to artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage/lcov.info
